{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            Upload Files (Excel Only)
        </div>
        <div class="panel-body">

            <form method="post" enctype="multipart/form-data" action="/depart/multi/">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" name="exc">
                </div>
                <input type="submit" value="Upload" class="btn btn-info btn-sm">
            </form>
        </div>

        <!--        <ul class="pagination">-->
        <!--            {{ page_string }}-->
        <!--        </ul>-->
    </div>
    <div style="margin-bottom: 10px">
        <a class="btn btn-success" href="/depart/add/">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            New Department</a>
    </div>


    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            Department Table
        </div>

        <!-- Table -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Department</th>
                <th>Operate</th>
            </tr>
            </thead>
            <tbody>
            {% for item in queryset %}
            <tr>
                <th>{{item.id}}</th>
                <td>{{item.title}}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/depart/{{item.id}}/edit">edit</a>
                    <a class="btn btn-danger btn-xs" href="/depart/delete?nid={{item.id}}">delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>
</div>
{% endblock %}